.cart-widget{
    display: flex;
    align-items: center;
    gap: 4px;
    cursor:pointer;

    .cart-icon{
        color: white;
        font-size: 35px;
    }
    span{
        color: white;
        font-size: 13px;
        background-color: red;
        border-radius: 80%;
        padding: 1px 4px 1px 4px;
        margin-bottom: 20px;
        
    }
}